@*<t:main>*@
    @*<section class="content-header">*@
        @*<h1><spring:message code="label.subjects"/></h1>*@
    @*</section>*@

    @*<section class="content">*@

        @*<c:url var="editUrl" value="/category/edit/${category.id}"/>*@
        @*<form:form modelAttribute="categoryAtribute" action="${editUrl}" method="post" role="form">*@
        @*<input type="text" class="form-control" placeholder="" value="${category.name}"/>*@
        @*<button type="submit" class="btn btn-primary"><spring:message code="label.edit"/></button>*@
        @*</form:form>*@

    @*</section>*@
@*</t:main>*@